.button-group button
{
	background-color: green;
	border-width: 10px;
	color:white;
	cursor: pointer;

}
h1{
		font-size: 60px;
		color: darkred;
	}
 
	
.button-group button:hover
{ background-color:black;
}
hr
{
	width:80%;
	background-color:black;
	height: 3px;
}
img{
 	width: 400px;
 	margin-left: 20px;
 	height: 200px;
 	
}
p  {
      font-family: Segoe Script;
      font-size: 40px;
 }
 a{
 	color:white;
 	text-decoration: none;
 }