h1{
		font-size: 60px;
		color: darkred;
	}
	body{
	background-color:skyblue;} 
	
	hr{
		width:80%;
	    background-color: black;
	    height: 4px;
	}
	p{
		font-family:courier;
		font-size:50px;
		color:solid;
	}
	img {
		width: 400px;
		height:350px;
		align-content: right;
margin-top: 20px;
margin-right: 40px;
}

	table{
		font-family:  sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  border-width: 20px;
		  margin-left: 30px;
		  margin-top: 20px;
	}
	td,th{
		border: 1px solid #ddd;
  padding: 8px;
	}
	tr:hover{
background-color:white;
cursor: pointer;
	}
	th{
		background-color:grey;
		color:white;
		padding-top: 12px;
		padding-bottom: 12px;

	}
	button
{
	background-color: green;
	border-width: 10px;
	color:white;
	cursor: pointer;

}
button:hover{
	background-color: black;
}
a{
	text-decoration: none;
    color: white;
}